<?xml version="1.0"?><!--* @category    SchumacherFM_Markdown--><!--* @package     etc--><!--* @author      Cyrill at Schumacher dot fm / @SchumacherFM--><!--* @copyright   Copyright (c)-->
<config>
    <modules>
        <SchumacherFM_Markdown>
            <version>1.0.0</version>
        </SchumacherFM_Markdown>
    </modules>

    <global>
        <models>
            <markdown>
                <class>SchumacherFM_Markdown_Model</class>
            </markdown>
        </models>
        <resources>
            <markdown_setup>
                <setup>
                    <module>SchumacherFM_Markdown</module>
                </setup>
            </markdown_setup>
        </resources>
        <blocks>
            <markdown>
                <class>SchumacherFM_Markdown_Block</class>
            </markdown>
        </blocks>
        <helpers>
            <markdown>
                <class>SchumacherFM_Markdown_Helper</class>
            </markdown>
        </helpers>
    </global>
    <frontend>
        <events>
            <cms_page_render>
                <observers>
                    <markdown_renderer>
                        <type>singleton</type>
                        <class>markdown/markdown_observer</class>
                        <method>renderPage</method>
                    </markdown_renderer>
                </observers>
            </cms_page_render>

            <core_block_abstract_to_html_after>
                <observers>
                    <markdown_renderer>
                        <type>singleton</type>
                        <class>markdown/markdown_observer</class>
                        <method>renderBlock</method>
                    </markdown_renderer>
                </observers>
            </core_block_abstract_to_html_after>

            <core_abstract_load_after>
                <observers>
                    <markdown_core_email_template>
                        <class>markdown/markdown_observer</class>
                        <method>renderEmailTemplate</method>
                    </markdown_core_email_template>
                </observers>
            </core_abstract_load_after>
        </events>
    </frontend>

    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <markdown before="Mage_Adminhtml">SchumacherFM_Markdown_Adminhtml</markdown>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>

    <adminhtml>
        <layout>
            <updates>
                <markdown>
                    <file>markdown.xml</file>
                </markdown>
            </updates>
        </layout>
        <translate>
            <modules>
                <SchumacherFM_Markdown>
                    <files>
                        <default>SchumacherFM_Markdown.csv</default>
                    </files>
                </SchumacherFM_Markdown>
            </modules>
        </translate>
        <events>
            <controller_action_layout_load_before>
                <observers>
                    <markdown_controller_action_layout_load_before>
                        <class>markdown/observer_adminhtml_layoutUpdate</class>
                        <method>injectMarkdownFiles</method>
                    </markdown_controller_action_layout_load_before>
                </observers>
            </controller_action_layout_load_before>
            <adminhtml_block_html_before>
                <observers>
                    <markdown_adminhtml_block_html_before_textarea>
                        <class>markdown/observer_adminhtml_block</class>
                        <method>alterTextareaBlockTemplate</method>
                    </markdown_adminhtml_block_html_before_textarea>
                    <markdown_adminhtml_block_html_before_page>
                        <class>markdown/observer_adminhtml_epicEditor</class>
                        <method>injectEpicEditor</method>
                    </markdown_adminhtml_block_html_before_page>
                </observers>
            </adminhtml_block_html_before>
            <core_config_data_save_after>
                <observers>
                    <markdown_core_config_data>
                        <class>markdown/editor_observer</class>
                        <method>enableDisableWysiwyg</method>
                    </markdown_core_config_data>
                </observers>
            </core_config_data_save_after>
        </events>
    </adminhtml>
    <default>
        <markdown>
            <markdown>
                <enable>1</enable>
                <cheatsheet>https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet</cheatsheet>
                <detection_tag>!#markdown</detection_tag>
            </markdown>
            <markdown_extra>
                <enable>0</enable>
                <enable_email>0</enable_email>
            </markdown_extra>

            <epiceditor>
                <enable>0</enable>
                <load_on_click_textarea>0</load_on_click_textarea>
            </epiceditor>
            <remarked>
                <enable>1</enable>
            </remarked>
        </markdown>
    </default>
    <phpunit>
        <suite>
            <modules>
                <SchumacherFM_Markdown/>
            </modules>
        </suite>
    </phpunit>
</config>