<?xml version="1.0"?>
<!--* @category    SchumacherFM_Markdown-->
<!--* @package     etc-->
<!--* @author      Cyrill at Schumacher dot fm / @SchumacherFM-->
<!--* @copyright   Copyright (c)-->
<config>
    <modules>
        <SchumacherFM_Markdown>
            <version>1.0.0</version>
        </SchumacherFM_Markdown>
    </modules>

    <global>
        <models>
            <markdown>
                <class>SchumacherFM_Markdown_Model</class>
            </markdown>
        </models>
        <resources>
            <markdown_setup>
                <setup>
                    <module>SchumacherFM_Markdown</module>
                </setup>
            </markdown_setup>
        </resources>
        <blocks>
            <markdown>
                <class>SchumacherFM_Markdown_Block</class>
            </markdown>
        </blocks>
        <helpers>
            <markdown>
                <class>SchumacherFM_Markdown_Helper</class>
            </markdown>
        </helpers>
    </global>
    <frontend>
        <events>
            <cms_page_render>
                <observers>
                    <markdown_renderer>
                        <type>singleton</type>
                        <class>markdown/markdown_render</class>
                        <method>renderPageObserver</method>
                    </markdown_renderer>
                </observers>
            </cms_page_render>

            <core_block_abstract_to_html_after>
                <observers>
                    <markdown_renderer>
                        <type>singleton</type>
                        <class>markdown/markdown_render</class>
                        <method>renderBlockObserver</method>
                    </markdown_renderer>
                </observers>
            </core_block_abstract_to_html_after>
        </events>
    </frontend>

    <adminhtml>
        <layout>
            <updates>
                <markdown>
                    <file>markdown.xml</file>
                </markdown>
            </updates>
        </layout>
        <translate>
            <modules>
                <SchumacherFM_Markdown>
                    <files>
                        <default>SchumacherFM_Markdown.csv</default>
                    </files>
                </SchumacherFM_Markdown>
            </modules>
        </translate>
        <events>
            <cms_wysiwyg_config_prepare>
                <observers>
                    <markdown_observer>
                        <class>markdown/editor_observer</class>
                        <method>prepareWysiwygPluginConfig</method>
                    </markdown_observer>
                </observers>
            </cms_wysiwyg_config_prepare>
            <adminhtml_block_html_before>
                <observers>
                    <markdown_adminhtml_block_html_before>
                        <class>markdown/observer_adminhtmlBlock</class>
                        <method>alterTextareaBlockTemplate</method>
                    </markdown_adminhtml_block_html_before>
                </observers>
            </adminhtml_block_html_before>
            <core_config_data_save_after>
                <observers>
                    <markdown_core_config_data>
                        <class>markdown/editor_observer</class>
                        <method>enableDisableWysiwyg</method>
                    </markdown_core_config_data>
                </observers>
            </core_config_data_save_after>
        </events>
    </adminhtml>
    <default>
        <schumacherfm>
            <markdown>
                <enable>1</enable>
                <md_extra>0</md_extra>
                <detection_tag>!#markdown</detection_tag>
            </markdown>
        </schumacherfm>
    </default>
    <phpunit>
        <suite>
            <modules>
                <SchumacherFM_Markdown/>
            </modules>
        </suite>
    </phpunit>
</config>