<?xml version="1.0"?><!--
 /**
 * @category  SchumacherFM
 * @package   SchumacherFM_Markdown
 * @copyright Copyright (c) http://www.schumacher.fm
 * @author    Cyrill at Schumacher dot fm @SchumacherFM
 */
-->
<config>
    <sections>
        <markdown>
            <label>Markdown [M↓]</label>
            <tab>general</tab>
            <frontend_type>text</frontend_type>
            <sort_order>2001</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>

            <groups>
                <markdown translate="label">
                    <label>Markdown [M↓]</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>50</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enable translate="label">
                            <label>Enable Markdown</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enable>
                        <cheatsheet translate="label">
                            <label>Markdown Cheat Sheet URL</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>15</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Alternatives http://daringfireball.net/projects/markdown/syntax or
                                https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet or your own page
                            </comment>
                        </cheatsheet>
                        <detection_tag translate="label">
                            <label>Markdown Detection Tag</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Every content field which contains markdown must have this tag included that it will be parsed.
                                This tag will of course be removed during parsing. If empty, every content is considered as markdown.
                                Only transactional emails which have the detection tag somewhere integrated will be rendered with markdown.
                            </comment>
                        </detection_tag>
                    </fields>
                </markdown>

                <markdown_extra translate="label">
                    <label>Markdown Extra</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>60</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enable translate="label">
                            <label>Use Markdown Extra</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enable>
                        <enable_email translate="label">
                            <label>Transactional email: Use Markdown Extra</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>140</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enable_email>
                        <te_md_css translate="label">
                            <label>Transactional email: Path to CSS file</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>150</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[Relative path to the CSS to include in a transactional email. Mage::getBaseDir() is prefixed.
                            Will be included in the &lt;style&gt; tag in each email.]]></comment>
                        </te_md_css>
                    </fields>
                </markdown_extra>

                <epiceditor>
                    <label>EpicEditor</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>100</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enable translate="label">
                            <label>Enable EpicEditor</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>200</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[Enables the awesome Markdown <a href="http://epiceditor.com" target="_blank">EpicEditor</a>.]]></comment>
                        </enable>
                        <config translate="label">
                            <label>EpicEditor Config</label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>210</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Expert Mode: A valid JSON object. Will be merged into the EpicEditor config.</comment>
                        </config>
                    </fields>
                </epiceditor>
            </groups>
        </markdown>
    </sections>
</config>
